<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body> 

<a th:href="@{?lang=fr}">French</a> | <a th:href="@{?lang=en}">English</a>

<h1 th:text="#{home.title}">Home</h1>

<p th:text="'Hello ' + ${#authentication.name} + ', here are your options:'" style="font-weight:bold;">Options</p>

<a href="/" th:href="@{/}"><span th:text="#{menu.home}">Home</span></a>

<p sec:authorize="isAuthenticated()">
   <a th:href="@{/artist/}" href="/artist/"><span th:text="#{menu.artists}">Artists</span></a>
</p>

<p sec:authorize="hasRole('ROLE_ADMIN')">
   <a th:href="@{/report/dash}" href="/report/dash"><span th:text="#{menu.dashboard}">Dashboard</span></a>
</p>

</body>
</html>