<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Artists</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body> 
<h1 th:text="#{artist.list.title}">Default Title</h1>

<p sec:authorize="hasRole('ROLE_ADMIN')">
   <a th:href="@{/artist/create}" href="/artist/create"><span th:text="#{artist.list.addnew}">Add New</span></a>
</p>

<a href="?lang=fr" th:text="#{artist.list.french}">ffff</a> | <a href="?lang=en" th:text="#{artist.list.english}">eeee</a>
<table>
	<tr th:each="artist: ${artists}">
		<td th:text="${artist.fullName}">Name</td>
		<td>[<a th:href="@{/artist/__${artist.id}__}">view</a>]</td>
	</tr>
</table>

</body>
</html>